<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/style.css?v=' | relative_url | append: site.github.build_revision | relative_url }}">
    {%- feed_meta -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" />
    {% if site.google_analytics %}
      <script>
        //
      </script>
    {% endif %}
  </head>
  <body>
    <div class="inn">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <div class="brand">
          <h1><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
          {% if site.description or site.github.project_tagline %}
            <p>{{ site.description | default: site.github.project_tagline }}</p>
          {% endif %}
        </div>
        <div class="bread">
          <ul>
          {% if site.show_downloads %}
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          {% endif %}
            <li><a href="/about">关于</a></li>
          </ul>
        </div>
      </header>
      <section>
      {{ content }}
      </section>
    </div>
    <footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
  </body>
</html>