---
layout: default
---

<article class="post">
  <h2 class="post-title">{{ page.title | escape }}</h2>
  <p class="post-meta">
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} {{
      page.date | date: date_format }}
    </time>
    {%- if page.author -%} - <span class="post-author">{{ page.author }}</span>{%- endif -%}
  </p>

  <div class="post-content">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%- endif -%}
</article>
